# Python
venv/
__pycache__/
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/external/

# Artifacts
artifacts/models/
artifacts/plots/
artifacts/metrics/
artifacts/metadata
artifacts/thresholds
artifacts/champion
artifacts/gnn_models

# MLflow
mlruns/
mlflow.db

# Environment / OS
.env
.DS_Store

# Archives
*.zip